{% load staticfiles %}
{% load mezzanine_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Anurag Patnaik</title>

        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

        <!-- Custom styles go here --> 
        <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    </head>

    <body>
        <!-- NAVBAR -->
        <div class="navbar-wrapper">
            <div class="container">
                <div class="navbar navbar-inverse navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Anurag Patnaik</a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#contact">Contact</a></li>
                                <li><a href="#blog">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myCarousel" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="2" class="active"></li>

                    <li data-target="#myCarousel" data-slide-to="3" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="4" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">

                        {% for blog_post in blog_posts.object_list|slice:"0:1" %}   
                        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                        <p><img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 600 0 %}"></p>
                        {% else %}
                        <img src="{% static 'img/red_bg.jpg' %}" alt="First slide">
                        {% endif %}

                        :noh

                        <div class="container">
                            <div class="carousel-caption">
                                <h1>{{blog_post.title}}</h1>
                                <p>{{blog_post.description_from_content}}</p>
                                <p><a class="btn btn-large btn-primary" href="#">Read more</a></p>
                            </div>
                        </div>




                        {% endfor %}    



                    </div>

                    {% for blog_post in blog_posts.object_list|slice:"1:4" %}
                    <div class="item">                       
                        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                        <p><img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 600 0 %}"></p>
                        {% else %}
                        <img src="{% static 'img/red_bg.jpg' %}" alt="First slide">
                        {% endif %}

                        <div class="container">
                            <div class="carousel-caption">
                                <h1>{{blog_post.title}}</h1>
                                <p>{{blog_post.description_from_content}}</p>
                                <p><a class="btn btn-large btn-primary" href="#">Read more</a></p>
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

        </div>

        <div class="container">

            <div class="container" id="homepage-sections">
                <div class="row">
                    <div class="col-xs-8 col-sm-8">

                        <div class="row">
                            <div class="col-6 col-sm-6 col-lg-6">
                                <h2>Blog</h2>   
                                <p>This is where my blog description goes. I have to write around four lines here. Think this is enough. </p>           
                            </div>

                            <div class="col-6 col-sm-6 col-lg-6">
                                <h2>Projects</h2>   
                                <p>This is where my blog description goes. I have to write around four lines here. Think this is enough. </p>           
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-sm-6 col-lg-6">
                                <h2>Resume</h2>   
                                <p>This is where my blog description goes. I have to write around four lines here. Think this is enough. </p>           
                            </div>

                            <div class="col-6 col-sm-6 col-lg-6">
                                <h2>Contact me</h2>   
                                <p>This is where my blog description goes. I have to write around four lines here. Think this is enough. </p>           
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-lg-4">
                        <div class="row">
                            <div class="col-12">
                                <h2>About me</h2>
                                <p>This is where I write something about myself. Short description. Maybe a paragraph. Thinking about a picture or art to make the page look better.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/holder.js' %}"></script>


    </body>

</html>
